h1{  
    background-color: black;
    text-align: center;
}
h2{background-color:red ;}
button{
    align-items: end;
    background-color: grey;
}
.hey{
    background-color: black;
}
h3{
    text-decoration: wavy;
}